.default {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #191A15;
    text-decoration: none;
  }
  
  .active {
    position: relative;
  }
  
  .active::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -28px;
    width: 100%;
    height: 5px;
    background-color: #FC832C;
  }