.default {
  font-size: 20px;
  line-height: 1.2;
  color: #191a15;
  text-decoration: none;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fc832c;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin-left: 100px;
}

.logo {
  text-decoration: none;
  color: #191a15;
}

.accent {
  color: #fc832c;
}
