.wrap {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 24px;
  border-radius: 10px;
  width: 1180px;
  margin: 20px auto;
  padding: 20px;
  
}

.sectionsWrap {
  margin-left: 32px;
  margin-right: 32px;
}
.infoWrap {
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align: left;
  justify-content: space-between;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 15px;
  position: relative;
  margin-right: 100px;
}
.imgWrap {
  position: relative;
  border: 1px solid #fc832c;
  border-radius: 15px;
  padding: 10px;
  width: 120px;
  height: 120px;
}

.statusIndicator {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 5px;
  z-index: 1;
}

.online {
  background-color: #90ee90;
}

.offline {
  background-color: #8a8a89;
}

.readMoreBtn {
  text-align: left;
  background-color: transparent;
  border: none;
  color: #191a15;
  cursor: pointer;
  font-size: 16px;
  margin-top: 14px;
  padding-left: 0;
  font-weight: 500;
  line-height: 24px;
  text-decoration: underline;
  transition: all 0.3s linear;
  &:hover {
    text-decoration: none;
    color: #8a8a89;
  }
}

.role {
  font-size: 16px;
  font-weight: 500;
  color: #8a8a89;
}

.nameWrap {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 24px;
  font-weight: 500;
  color: black;
  margin: 0;
}

.priceRatingWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  font-weight: 500;
}

.starIcon {
  width: 16px;
  height: 16px;
  left: 0px;
  color: #ffc531;
  margin-right: 8px;
}

.price {
  margin-left: 16px;
}

.green {
  color: #90ee90;
}

.isFavoriteBtn {
  margin-left: 24px;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease;
}

.isFavoriteIcon {
  color: #191a15;
  fill: #191a15;
}

.isFavoriteIconRed {
  color: #fc832c;
  fill: #fc832c;
}
.jobWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
}

.jobWrapItem {
  padding: 8px 16px;
  background-color: #f3f3f3;
  gap: 10px;
  border-radius: 24px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
  margin-left: 4px;
}

.grey {
  color: #8a8a89;
}

.about {
  margin-bottom: 48px;
  color: #191a1580;
  line-height: 20px;
  font-size: 16px;
}
.appointmentBtn {
  margin-top: 40px;
  background-color: #fc832c;
  color: #fff;
  width: 227px;
  height: 48px;
  padding: 14px 32px;
  border-radius: 30px;
  border: none;
}

.appointmentBtn:hover {
  background-color: #f37113;
}


@media (max-width: 768px) {
  .wrap {
    flex-direction: column; 
    width: 100%; 
    gap: 16px; 
    padding: 15px;
  }

  .imgWrap {
    width: 100px;
    height: 100px;
    padding: 8px;
  }

  .avatar {
    width: 80px;
    height: 80px;
  }

  .infoWrap {
    flex-direction: column; 
    align-items: flex-start;
  }

  .priceRatingWrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
  }

  .isFavoriteBtn {
    margin-left: 0;
    margin-top: 10px;
  }

  .jobWrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .about {
    font-size: 14px;
  }

  .readMoreBtn {
    font-size: 14px;
  }

  .appointmentBtn {
    width: 100%;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .wrap {
    width: 90%; 
    padding: 20px;
  }

  .avatar {
    width: 90px;
    height: 90px;
  }

  .priceRatingWrap {
    font-size: 14px;
  }

  .jobWrap {
    flex-direction: column;
  }

  .about {
    font-size: 15px;
  }

  .appointmentBtn {
    width: 100%;
  }
}


@media (min-width: 1024px) {
  .wrap {
    flex-direction: row;
    width: 1180px;
  }

  .imgWrap {
    width: 120px;
    height: 120px;
  }

  .avatar {
    width: 96px;
    height: 96px;
  }

  .priceRatingWrap {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .readMoreBtn {
    font-size: 16px;
  }

  .appointmentBtn {
    width: 227px;
  }
}