.wrap{
    background-color: #fff;
    display: flex;
    flex-direction:column;
    /* align-items: start; */
    text-align: left;
    gap: 24px;
    border-radius: 10px;   
    width: 1180px;
    margin: 20px auto;
    padding: 20px;
    
}

.infoWrap{
    display: flex;
    flex-direction: row;
    align-items: start;
    text-align: left;
}

.avatar{
    width: 96px;
    height: 96px;
    border-radius: 15px;
    position: relative;
    margin-right: 100px;
}
.imgWrap {
    position: relative;
    border: 1px solid #fc832c;
    border-radius: 15px;
    padding: 10px;
  }
  
  .statusIndicator {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #fff;
    padding: 5px;
    z-index: 1;
  }
  
  .online {
    background-color:#90EE90;    
  }
  
  .offline {
    background-color: gray;
  }

  .textWrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 32px;
  }

  .readMoreBtn{
    text-align: left;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin-top: 14px;
    padding-left: 0;
    font-weight: 500;
    line-height: 24px;
    text-decoration: underline;
    transition: all 0.3s linear;
    &:hover {
      text-decoration: none;
      color: grey}
  }