.wrap {
  width: 566px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 64px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.title {
  font-size: 40px;
  line-height: 48px;
  color: #191a15;
  margin-bottom: 10px;
  text-align: left;
}

.text {
  width: 438px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #8a8a89;
}

.inputWrap{
display: flex;
flex-direction: column;
gap: 18px;

}

.form {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 438px;
  padding: 16px 18px;
  border: 1px solid #ccc;
  border-radius: 12px;
  
}

.btn {
  display: inline-flex;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border-radius: 30px;
  padding: 18px 50px;
  align-items: center;
  justify-content: center;
  background-color: #fc832c;
  height: 24px;
  width: 438px;
  border: none;
}

.btn:hover {
  background-color: #f37113;
}

.passwordContainer {
  position: relative;
  margin-bottom: 40px;
}

.eyeIcon {
  position: absolute;
  top: 20%;
  right: 10px;
  transform: translateY(30%);
  cursor: pointer;
}
