.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: end;
}

.link {
  color: #191a15;
  text-decoration: none;

  padding: 14px 40px;
  border-radius: 30px;
  background-color: #fbfbfb;
  border: 1px solid #191a15;
}

.default {
  font-size: 20px;
  line-height: 1.2;
  color: #191a15;
  text-decoration: none;
}

.active {
  position: relative;
  color: #fbfbfb;
  background-color: #fc832c;
  border: none;
}

.name {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-right: 20px;
}

.personIcon {
  color: #fff;
  fill: #fff;
  width: 28px;
  border-radius: 4px;
  background-color: #fc832c;
}

.listitem {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


@media (max-width: 768px) {
  .list {
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .link {
    font-size: 16px;
    padding: 12px 30px;
  }

  .name {
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .personIcon {
    width: 24px;
    height: 24px;
  }

  .listitem {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .list {
    gap: 12px;
    justify-content: flex-start;
  }

  .link {
    font-size: 18px;
    padding: 12px 30px;
  }

  .name {
    font-size: 15px;
    margin-right: 15px;
  }

  .personIcon {
    width: 26px;
    height: 26px;
  }

  .listitem {
    flex-direction: row;
    gap: 15px;
  }
}


@media (min-width: 1024px) {
  .list {
    gap: 16px;
    justify-content: flex-end;
  }

  .link {
    font-size: 20px;
    padding: 14px 40px;
  }

  .name {
    font-size: 16px;
    margin-right: 20px;
  }

  .personIcon {
    width: 28px;
    height: 28px;
  }

  .listitem {
    flex-direction: row;
    gap: 10px;
  }
}
