.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: end;
  /* margin-left: 345px; */
}
/* 
.item {
  padding: 14px 40px;
  border-radius: 30px;
  background-color: #fbfbfb;
  border: 1px solid #191a15;
} */

.link {
  color: #191a15;
  text-decoration: none;

  padding: 14px 40px;
  border-radius: 30px;
  background-color: #fbfbfb;
  border: 1px solid #191a15;
}

.default {
  font-size: 20px;
  line-height: 1.2;
  color: #191a15;
  text-decoration: none;
}

.active {
  position: relative;
  color: #fbfbfb;
  background-color: #fc832c;
  border: none;
}

.name {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-right: 20px;
}

.personIcon {
  color: #fff;
  fill: #fff;
  width: 28px;
  border-radius: 4px;
  background-color: #fc832c;
}

.listitem {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
